@model Examen1.Models.VACAS
@{
    ViewBag.Title = "Ficha";
}
<h2>Ficha Vacas</h2>
<table class="table table-bordered table-hover">
    <div class=""> DIIO: @Html.DisplayFor(m => m.diio)</div>
    <br />
    <div class=""> Nombre: @Html.DisplayFor(m => m.nombre)</div>
    <br />
    <div class=""> Sexo: @Html.DisplayFor(m => m.sexo)</div>
    <br />
    <div class=""> Raza: @Html.DisplayFor(m => m.raza)</div>
    <br />
    <div class=""> Edad: @Html.DisplayFor(m => m.edad)</div>
    <br />
    <div class=""> Tipo: @Html.DisplayFor(m => m.tipo)</div>
    <br />
    <div class=""> Rebaño: @Html.DisplayFor(m => m.rebaño)</div>


</table>